<html>


<head>
  <title>BIT 4K</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style type="text/css">
  .droppable {
    background: Gray;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    opacity: 0.85;
  }
  .droppable.dragover {
    background: #00CC71;
    vertical-align: middle;
    opacity: 0.85;
  }
  .view-gen {
    background: Gray;
    
    color: #fff;
    padding: 20px 0;
    text-align: center;
    opacity: 0.85;
  }
  .pc {
    margin-bottom: 0;
    vertical-align: middle;
  }




</style>
</head>

</body>


<nav class = "navbar bg-dark navbar-expand-md"> 
  <a class="navbar-brand" href="#"> BIT4K </a> 
  <button class = "navbar-toggler"type = "button" data-toggle = "collapse"data-target = "# navbar1"> 
    <span class = "navbar-toggler-icon"> </span> 
  </button> 
  <div class = "collapse navbar-collapse"id = "navbar1 "> 
    <ul class ="navbar-nav mr-auto "> 
      <li class ="nav-item active "> 
        <a class="nav-link" href="/"> 홈 </a> 
      </li> 
      <li class = "nav-item"> 
        <a class = "nav-link"href = "/gan"> Gan </a> 
      </li> 
    </ul> 
  </div> 
</nav>

<body>
<p></p>
<p align='center' class="font-weight-bold">강아지 품종을 확인해드립니다.</p>


<div align="center" class="container">
<div class="content" style = "width: 65%;" >
<div align="center" class="droppable" id="drop_zone">
  <p class="pc" >파일을 여기로 드래그하거나 클릭하여 강아지 이미지를 업로드하세요.</p>
  
</div>
<div class="output"></div>
<br>
<p align='center'>
  <input type="button" id="btn_dog" onclick="btn_dog_click(0);" value="PREDICT" style="padding: 5px;" class="btn btn-secondary" align='center' />  
<br><br><br>
</p>
<div id="result">
  <p align='center' class="font-weight-bold">예측한 강아지 품종</p>
  <div class="view-gen" id="dog_image"  style="height:20%">
    <p>여기에 예측한 강아지 품종이 표시됩니다.</p>
  </div>
  <br>
  <form method='POST' action='download_gen' align='center'>
    <input type='submit' value="download" style="padding: 5px;" class="btn btn-secondary"/>
  </form>
</div>





<script type="text/javascript">
  
  var dropped_files = [];

  function btn_dog_click(type) {
    if (dropped_files.length == 0) {
      alert('이미지를 먼저 선택해주세요.');
      return;
    }

    // 파일 업로드 및 이미지 생성 등 서버 작업 중에 표시되는 로딩 이미지
    var div_result = document.getElementById('result');
    div_result.innerHTML = "<p align='center' class='font-weight-bold'>강아지를 확인하고 있습니다...</p>"
    div_result.innerHTML += '<div class="view-gen" id="gen_image"><img id="img_result" width="200" src="_generate_image/_loading.gif" class="btn btn-secondary" /></div><br>'

    var form_data = new FormData();
    form_data.append('file', dropped_files[0]);
    form_data.append('type', type);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'upload_low', true);
    xhr.send(form_data);
    xhr.onreadystatechange = function () {
      if (xhr.readyState == 4 && xhr.status == 200) {
          return_text = xhr.responseText

          return_text = return_text.split("/")
          div_result.innerHTML = ''
          div_result.innerHTML += '<p align="center" class="font-weight-bold">예측한 강아지 품종</p>'
          div_result.innerHTML += '<p align="center" class="font-weight-bold">품종 '+return_text[1] +" " +return_text[2] +'</p>'
          div_result.innerHTML += '<div class="view-gen" id="gen_image"><img id="img_result" width="400" src="' + '_dog_face/' + return_text[0] + '" /></div><br>'
          div_result.innerHTML += '<form align="center" method="POST" action="download_gen/' + return_text[0] + '"><input type="submit" value="download" style="padding: 5px;" class="btn btn-secondary"/></form>'
      }
    }
  }

  (function(window) {
    function triggerCallback(e, callback) {
      if(!callback || typeof callback !== 'function') {
        return;
      }
      var files;
      if(e.dataTransfer) {
        files = e.dataTransfer.files;
      } else if(e.target) {
        files = e.target.files;
      }
      callback.call(null, files);
    }
    function makeDroppable(ele, callback) {
      var input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.removeAttribute('multiple')
      input.style.display = 'none';
      input.addEventListener('change', function(e) {
        triggerCallback(e, callback);
      });
      ele.appendChild(input);
      
      ele.addEventListener('dragover', function(e) {
        e.preventDefault();
        e.stopPropagation();
        ele.classList.add('dragover');
      });

      ele.addEventListener('dragleave', function(e) {
        e.preventDefault();
        e.stopPropagation();
        ele.classList.remove('dragover');
      });

      ele.addEventListener('drop', function(e) {
        e.preventDefault();
        e.stopPropagation();
        ele.classList.remove('dragover');
        triggerCallback(e, callback);
      });
      
      ele.addEventListener('click', function() {
        input.value = null;
        input.click();
      });
    }
    window.makeDroppable = makeDroppable;
  })(this);
  (function(window) {
    makeDroppable(window.document.querySelector('.droppable'), function(files) {
      console.log(files);
      var output = document.querySelector('.output');
      output.innerHTML = '';
      dropped_files = [];
      for(var i=0; i<1; i++) {
        if(files[i].type.indexOf('image/') === 0) {
          dropped_files.push(files[i]);
          document.getElementById('drop_zone').innerHTML = ''
          document.getElementById('drop_zone').innerHTML += '<img id="img_preview" width="400" src="' + URL.createObjectURL(files[i]) + '" />';
        }
      }
    });
  })(this);
  
</script>


</html>